@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}
@theme {
   --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}
html,
body {
    width:100%;
    background-color:black;
color:white;
scroll-behavior: smooth;
overflow-x:hidden;
}
@utility flex-center {
    @apply flex items-center justify-center;
}
@utility col-center {
    @apply flex flex-col  justify-center items-center;
}
@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}
@utility masked-img {
    mask-image: url("/fonts/images/mask-img.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}
@layer components {
    main {
       @apply w-full overflow-x-hidden;   
    }
    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
       
        }
    p {
            @apply font-modern-negra text-3xl -mb-2;
        }
      a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        } 
        ul {
            @apply flex-center lg:gap-12 gap-7;
        }  
    }
.noisy {
    @apply absolute inset-0 size-full bg-[url("/fonts/images/noise.png")];
}
#hero {
  @apply relative z-10 min-h-dvh w-full border border-transparent  
}

}